.device__body {
    padding-left: -15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
  }
  
  .device-list {
    position: relative;
    padding: 0;
    right: 30px;
    margin: 20px;
    width: 100%;
    height: 100%;
    bottom: 20px;
    background: none;
  }

.container__chart {
	width: 100%;
    padding: 0;
    margin: 20px;
    height: 100%;
}  

.grid-container {
    width: 40%;
    height: 100%;
    position: relative;
}

.grid-item{
    display: flex;
    width: 100%;
    box-shadow: 4px 4px 9px -1px rgba(0,0,0,0.15),
    -6px -6px 6px -1px rgb(226, 232, 237);
	border-radius: 5px;
    font-size: 20px;
    text-align: center;
    opacity: 1;
    padding-bottom: 10px;
}

.boxdata {
    align-items: center;
    flex-grow: 1;
    text-align: center;
    width: 100%;
    height: 100%;
}

.data{
    color: #f71b3f;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.sensor{
    color: #f71b3f;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.grid-item:nth-child(1) {
    position: absolute;
    top: 5%;
    left: 6%;
}

.grid-item:nth-child(2) {
    position: absolute;
    top: 5%;
    left: 110%;
}

.grid-item:nth-child(3) {
    position: absolute;
    top: 255%;
    left: 6%;
}