* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body > div {
    margin: auto;
  }

html {
    background-color: #e7e7e7;;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.form-container {
  position: relative;
  top: 80px;
  width: 330px;
  height: 450px;
  padding: 40px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
}

.logo-container {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
}

  .box {
    position: relative;
    height: 100%;
  }
  .field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .field:nth-child(1) {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .field:nth-child(2) {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom:53.8%;
  }

  .field:nth-child(3) {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 35%;
  }
  
  .field .input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
  }
  
  .field .input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
  }
  
  .field .span {
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 55px;
  }
  
  .field .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    pointer-events: none;
    color: #666666;
  }
  
  .field .input:valid ~ label {
    opacity: 0;
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    color: #888;
    font-size: 18px;
}

.toggle-password i:hover {
    color: #333;
}
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    font-size: 33px;
    font-weight: 600;
    color: #595959;
  }
  
  /*------------------BUTTON----------------------*/
  .form-container .form-submit-btn {
    margin: 15px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
     position: absolute;
     bottom: 7%;
  }
  
  .form-container .form-submit-btn:hover {
    opacity: 0.8;;
  }
  
  .sign-up {
    margin: 10px 0;
    color: #595959;
    font-size: 16px;
    position: absolute;
    bottom: 0;
  }
  
  .sign-up a {
    color: #3498db;
    text-decoration: none;
  }
  
  .sign-up a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
  }

  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 90px;
    background-color: #eeeeee4b;
    border-radius: 20px;
    letter-spacing: 1px;
    background: #1163ff;
    transition: all 0.2s linear;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: -10%;
  }

  .back > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    fill: #fff;
    transition: all 0.4s ease-in;
   }
   
   .back:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .back:hover {
   background-color: #111;
   }

  /* ======= Toast message ======== */
  
  #toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  .toast--success {
    border-color: #47d864;
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  
  .toast--info {
    border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
    color: #2f86eb;
  }
  
  .toast--errorEmail {
    border-color: #ffc021;
  }
  
  .toast--errorEmail .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
    color: #ff623d;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }